<header>
  <div id="logo">
    <% link_to '/' do %><%= image_tag 'Between_Screens_Logo_Cube_Up.svg', alt: 'Logo cube' %><% end %>
  </div>
  <nav class="navigation">
    <ul class="nav-list">
      <!--<li><%= link_to 'fork!', 'https://vis-kid.github.io/eloominaries/' %></li>-->
      <li><%= link_to 'about', '/pages/about.html' %></li>
      <!--<li><%= link_to 'faqs', '/faq.html' %></li>
      <li><%= link_to 'eloom', '/eloom.html' %></li>-->
      <li><%= link_to 'all', '/' %></li>
    </ul>
  </nav>
</header>
